@mixin layout-grey {
  padding: $margin-big $margin-standard;
  background-color: $color-grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexWrapper {
  width: 100%;
  margin-top: $margin-standard;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: $margin-standard;
  @media screen and (min-width: 700px) {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@mixin hero-menu($img) {
  width: 100%;
  height: 300px;
  background-image: url($img);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
