$color-primary: #9356dc;
$color-primary-hover: rgba(147, 86, 220, 0.2);
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-grey: #e9ecef;
$color-grey-dark2: #868e96;
$color-grey-dark: #dee2e6;
$color-grey-light: #f1f3f5;
$color-txt: #343a40;
$color-txt-dark: #212529;
$font-title: "Shrikhand", cursive;
$font-txt: "Roboto", sans-serif;
$margin-standard: 32px;
$margin-big: 52px;
$shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
