$color-primary: #9356dc;
$color-primary-hover: rgba(147, 86, 220, 0.2);
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-tertiary-dark: #099268;
$color-grey: #e9ecef;
$color-grey-dark2: #868e96;
$color-grey-dark: #dee2e6;
$color-grey-light: #f1f3f5;
$color-txt: #343a40;
$color-txt-dark: black;
$font-title: "Shrikhand", cursive;
$font-txt: "Roboto", sans-serif;
$font-size-big: 2.5rem;
$margin-small: 12px;
$margin-standard: 32px;
$margin-big: 52px;
$shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
