footer {
  background-color: $color-txt;
  padding: $margin-big $margin-standard;

  color: white;

  & ul {
    margin-top: $margin-standard;

    & li {
      margin-bottom: 12px;
    }
  }
  & svg {
    fill: white;
    width: 14px;
    height: 14px;
    margin-right: 8px;
  }
}
