.instructions {
  padding: $margin-big $margin-standard;

  &__card {
    background-color: $color-grey-light;
    border-radius: 24px;
    box-shadow: $shadow;
    padding: $margin-standard;
    position: relative;
    display: flex;
    align-items: center;
    font-weight: bold;
    width: 100%;

    &:hover {
      background-color: $color-primary-hover;
      & svg {
        fill: $color-primary;
      }
    }
    &-order {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: -13px;
      background-color: $color-primary;
      color: white;

      border-radius: 50%;
      width: 26px;
      height: 26px;
    }

    & svg {
      width: 18px;
      height: 18px;
      margin-right: 12px;
      fill: $color-grey-dark2;
    }
  }
}
